﻿<ion-header style="background-color: #eeeeee!important">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Classes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding style="background-color: #eeeee!important">

  <h3>Welcome To Jumbula</h3>

  <p>
    This starter project is our way of helping you get a functional app running in record time.
  </p>
  <p>
    Follow along on the tutorial section of the Ionic docs!
  </p>
  <!--<p>
    <button ion-button color="primary" menuToggle>Toggle Menu</button>
  </p>-->

</ion-content>
